@charset "utf-8";

/***************************
フォームのやつ
***************************/

#form input {
  font-size: 16px;
  border: 1px solid #999999;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}

#form input:focus {
  box-shadow: 0px 0px 5px 2px #ccccee;
  outline-style: none;
}

input[type="text"], input[type="email"] {
  margin-top: 10px;
  width: 65%;
  height: 28px;
}

input[type="submit"] {
  width: 7em;
  margin-top: 1.5em;
  background: #668ad8;
  color: #FFF;
  border-style: none;
}
